version: 0.4.1-beta-{branch}.{build}
pull_requests:
  do_not_increment_build_number: true
clone_depth: 3
cache:
  - '%LocalAppData%\NuGet\Cache -> paket.lock'
  - '%UserProfile%\.nuget\packages -> paket.lock'
test: off
build_script:
- cmd: build.cmd
artifacts:
  - path: '.build\nugets\*.nupkg'
    name: nuget
deploy: off
init:
  - git config --global core.autocrlf input