source https://api.nuget.org/v3/index.json
framework: net462

nuget xunit ~> 2.3 prerelease
nuget xunit.abstractions ~> 2
nuget NHamcrest

group .build
	source https://api.nuget.org/v3/index.json
	framework: net462
	nuget Fake
	nuget SourceLink
	nuget SourceLink.Fake
	nuget xunit.runner.console ~> 2.3 prerelease

group .test
	source https://api.nuget.org/v3/index.json
	framework: net462
	nuget FSharp.Compiler.CodeDom
	nuget FSharp.Compiler.Service