source https://api.nuget.org/v3/index.json
framework: auto-detect
redirects: off
storage: none

nuget FSharp.Compiler.CodeDom
nuget FSharp.Compiler.Service
nuget NHamcrest.XUnit ~> 2.0
nuget SourceLink.Create.CommandLine
nuget xunit
nuget xunit.runner.visualstudio