source https://api.nuget.org/v3/index.json
framework: auto-detect
redirects: off
storage: none

clitool dotnet-sourcelink

nuget FSharp.Compiler.CodeDom
nuget FSharp.Compiler.Service ~> 23
nuget FSharp.Core lowest_matching: true
nuget NHamcrest.XUnit
nuget SourceLink.Create.CommandLine
nuget xunit
nuget xunit.runner.visualstudio