type project
projectUrl https://github.com/CaringDev/FsUnit.xUnit.Typed
authors Raphael Schweizer
licenseUrl https://opensource.org/licenses/MIT
tags F# fsharp xUnit xUnit2 FsUnit testing
include-pdbs true
excludeddependencies
  SourceLink.Create.CommandLine