type project
projectUrl https://github.com/CaringDev/FsUnit.xUnit.Typed
authors Raphael Schweizer
licenseExpression MIT
tags F# fsharp xUnit xUnit2 FsUnit testing
include-pdbs true
dependencies
  FSharp.Core ~> LOCKED:Minor
excludeddependencies
  SourceLink.Create.CommandLine
  dotnet-sourcelink